

/**************************
color
bg #04141e;
content #b3bcc3;
button  #99cddf;
button hover  rgb(49, 76, 88);
**************************/

/**************************
*comon css 
**ab-content font-family: 'Work Sans', sans-serif;
**ab-title font-family: 'Libre Baskerville', serif;
**ab-button
**ab-button-line
**ab-button-link
**ab-sprit-img
****************************/
body{
    font-family: 'Work Sans', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #04141e;
    color: #ffffff;
    font-size: 1rem;
}
p, h1, h2, h3, h4, ul, li{
    padding: 0;
    margin: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
.ab-title{
    font-family: 'Libre Baskerville', serif;

}
.ab-content{
    color: #fff;
    font-family: 'Work Sans', sans-serif;
    opacity: 0.6;
}
.ab-button,.ab-button:focus, .ab-button:visited{
    background-color: #99cddf;
    color: #04141e;
    border: none;
    outline: none !important;
    box-shadow: none;
    border-radius: 30px;
    padding: 13px 30px;
    height: 50px;
    font-weight: 600;
}
.ab-outline-primary{
    border: 1px solid #fff;
    color: #99cddf;
    border-radius: 30px;
    padding: 13px 30px;
    height: 50px;
}
.ab-outline-primary:hover{
    text-decoration: none;
    background-color: rgb(49, 76, 88);
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px -1px, rgb(0 0 0 / 14%) 0px 4px 5px 0px, rgb(0 0 0 / 12%) 0px 1px 10px 0px;
    border: 1px solid #fff;
}
.ab-button:hover{
    color: white;
    background-color: rgb(49, 76, 88);
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px -1px, rgb(0 0 0 / 14%) 0px 4px 5px 0px, rgb(0 0 0 / 12%) 0px 1px 10px 0px;
}

.ab-button-line{
    color: #99cddf;
    background-color: transparent;
    border: 1px solid #fff;
}   

.ab-sprit-img{
    background-image: url(../img/sprit-img.png);
    background-repeat: no-repeat;
}
.ab-text-right{
    text-align: right;
}
.ab-text-center{
    text-align: center;
}
.ab-title-line{
    position: relative;
}
.ab-title-line::before{
    content: "";
    width: 100%;
    height: 1px;
    background-color: #1e2c35;
    left: 0;
    position: absolute;
    display: block;
    top: 50px;
    z-index: -1;
}
.ab-align-items-center{
    align-items: center;
}
.ab-text-alighn-center{
    text-align: center;
}
/**************************
 Header
 **nav
 **logo
 **lng
 **login
 ****************************/
 .ab-header{
    position: fixed;
    width: 100%;
    /* background-color: #04141e; */
    z-index: 9;
 }
 .ab-logo-content{
    color: #fff;
 }
 .ab-header.scrolled{
    background-color: #04141e;
}
 .ab-logo{
    display: flex;
    align-items: center;
 }

.ab-logo img{ 
    width: 38px;
}
.ab-dropdown{
    background-color: transparent;
    border: none;
}
.ab-dropdown:hover{
    color: white;
    background-color: rgb(49, 76, 88);
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px -1px, rgb(0 0 0 / 14%) 0px 4px 5px 0px, rgb(0 0 0 / 12%) 0px 1px 10px 0px;
}
.ab-dropdown.dropdown-toggle::after {
    display: inline-block;
    content: "";
    background-image: url(../img/sprit-img.png);
    height: 8px;
    width: 13px;
    background-position: -5px 810px;
    border: none !important;
    vertical-align: middle;
}
.ab-logo-wrapper{
    display: flex;
    gap: 30px;
    align-items: center;
}
.ab-nav
{
    margin: auto;
    text-align: center;
}
.ab-nav li{
    display: inline-block;
}
.ab-nav li a{
    display: block;
    padding: 15px;
    color: #b3bcc3;
    font-size: 1rem;
}
.ab-nav li a:hover{
    color: #fff;
}
.ab-nav li a.active{
    color: #99cddf;
}
.ab-login-st .btn-link{
    color: #fff;
    text-decoration: none;
}
.ab-justify-content{
    justify-content: space-between;
    align-items: center;
}
.ab-card-icon{
    background-color: transparent;
    border: none;
}
.ab-account-menu-mobile{
    width: 40px;
    height: 40px;
    display: none;
    z-index: 99;
    position: relative;
}
.ab-account-menu-mobile svg{
    fill: #fff;
}
/**********************************
banner
**********************************/
.b-tab {
    display: none;
}
.b-tab.active{
    display: block;
}
.ab-banner{
    background-image: url('../img/banner-bg.png');
    position: relative;
    background-position: bottom;
}
.ab-banner-wrapper
{
    width: 1010px;
    height: 340px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.ab-sub-title{
    display: block;
    color: #99cddf;
}
.ab-banner-footer{
    position: absolute;
    bottom: 200px;
    left: 0;
    right: 0;
    margin: auto;
}
.ab-banner-footer .row{
    justify-content: space-evenly;
    align-items: flex-end;
}
.ab-sns li{
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}
.ab-sns li a{
    display: block;
    cursor: pointer;
}
.ab-sns li a span{
    display: block;
    height: 24px;
    width: 24px;
    /* background-position: 5px 0px; */
    background-image: url(../img/sns.png);
    background-repeat: no-repeat;
}
.ab-facebook{
    background-position: 5px 0px;
}
.ab-facebook{
    background-position: -48px 0px;
}
.ab-twitter{
    background-position: -98px 0px;
}
.ab-pinterest{
    background-position: -206px 0px;
}
.ab-sns li a .ab-youtube{
    background-position: -150px 0px;
    width: 30px;
}
.ab-scroll-icon{
    background-position: -3px -54px;
    display: block;
    width: 32px;
    height: 46px;
    margin: auto;
    cursor: pointer;
}
.ab-sound{
    background-position: -7px -8px;
    display: inline-block;
    width: 35px;
    height: 25px;
}

/*****************
slider
*******************/
  
  .slider-wrapper {
    margin: 1rem;
    position: relative;
    overflow: visible;
  }
  
  .slides-container {
    width: 100%;
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    list-style: none;
  }
  
  .slide-arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 47px;
    width: 46px;
    cursor: pointer;
    z-index: 2;
    background-position: -2px -124px;
  }
  
  .slide-arrow:hover,
  .slide-arrow:focus {
    opacity: 1;
  }
  
  .slide-arrow-prev {
    left: -50px;
    padding-left: 0.25rem;
    border-radius: 0 2rem 2rem 0;
    opacity: 0.2;
  }
  .slide-arrow-prev:hover{
    opacity: 1;
  }
  .slide-arrow-prevts {
    left: -50px;
    padding-left: 0.25rem;
    border-radius: 0 2rem 2rem 0;
  }
  
  .slide-arrow-next {
    right: -50px;
    padding-left: 0.75rem;
    border-radius: 2rem 0 0 2rem;
    background-position: -49px -124px;
    opacity: 0.2;
  }
  .slide-arrow-next.next{
    right: 24px;
  }
  .slide-arrow-prev.prev{
    left: 24px;
  }
  .slide-arrow-next:hover {
    opacity: 1;
  }
  #slide-arrow-nextts {
    right: -50px;
    padding-left: 0.75rem;
    border-radius: 2rem 0 0 2rem;
    background-position: -49px -124px;
  }

.ab-testimonials .slide-arrow-next{
    background-position: -4px -625px;
}
.ab-testimonials .slide-arrow-prev{
    background-position: -2px -624px;
    transform: rotate(180deg);
    left: unset;
    right: -98px;
    top: 0;
}
  
  .slide {
    width: 100%;
    height: 100%;
    flex: 1 0 100%;
  }
  
/*** new slider **/
.slider{
    position: relative;
    height: 30.625rem;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 70px;
    padding-left: 60px;
}
.slideFull{ 
    position: absolute;
    top:0;
    width: 100%;
    height: 26.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 1s;
}
.slideFull > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
button{
    background: none;
    border: none;
}
button .fas{
    color: rgba(255, 255, 255, .5);
}
.btn-slide{
    position:absolute;
    top:50%;
    z-index: 10;

    height: 5.5rem;
    width: 5.5rem;
    cursor: pointer;
}
.prev{
    left:3rem;
    transform: translate(-50%, -50%);
}
.next{
    right: 3rem;
    transform: translate(50%, -50%); 
}
.dots-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.dot{
    width: 10px;
    height: 10px;
    margin: 15px 5px;
    border-radius: 0.5rem;
    background: #fff;
    cursor: pointer;
}
.dot.active{
background:#99cddf;
}
.slide-arrow-next-mon, 
.slide-arrow-prev-mon{
    display: none;
}
/*******************
slider end
*******************/


/**********************
Exploer Our offerings
***********************/

.ab-courses-list li{
    display: inline-block;
}
#tabs .hide {
    display: none;
}
#tabs .show {
    display: block;
}
.ab-courses-list li a{
    display: block;
    padding: 10px 30px;
    color: #99cddf;
    border-radius: 30px;
    opacity: 0.2;
}
.ab-courses-list li a:hover,.ab-courses-list li a.whiteborder{ 
    background-color:#314c58 ;
    color: #fff;
    opacity: 1;
}
.ab-exp-title{
    color: #99cddf;
    margin: auto;
    width: 600px;
    background-color: #04141e;
    font-size: 48px;
}
.ab-exp-box{
    border-radius: 40px;
    padding: 30px;
    background-color: #04141e;
    box-shadow: 0px 0px 60px #000;
    height: 300px;
    position: relative;
    box-shadow: 0px 0px 40px rgb(0 0 0 / 45%);
}
.ab-exp-box-tab-content{
    color: #99cddf;
    opacity: 0.2;
}
.ab-exp-box-icon{
    background-position: -4px -183px;
    display: block;
    width: 24px;
    height: 24px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.ab-exp-title{
    color: #99cddf;
    width: 720px;
}
.ab-exp-box-title{
    color: #99cddf;
    font-size: 24px;
}
.ab-main-prize{
    color: #fff;
    font-size: 28px;
}
.ab-delelt-prize{
    opacity: 0.3;
    color: #fff;
    font-size: 18px;

}
.ab-exp-box-footer-list li{
    display: inline-block;
    opacity: 0.3;
    color: #99cddf;
    font-size: 12px;
}
.ab-space-dot{
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color:#36434b;
    border-radius: 10px;
}
.ab-exp-box-footer{
    position: absolute;
    bottom: 30px;
}
.ab-gap1rp{
    --bs-gutter-x: 1rem;
}
/* .ab-exp-90{
    margin-left: -90px;
    margin-right: -90px;
} */
.ab-exp-off{
    margin-bottom: 100px;
}
.ab-Learn-more-icon{
    width: 66px !important;
    height: 70px !important;
    background-position: -6px -425px !important;
}
.ab-Easy-to-consume-icon{
    width: 66px !important;
    height: 70px !important;
    background-position: -3px -511px !important;
}
/***********************************
ab two box
************************************/
.ab-two-box{
    margin-top: 100px;
    margin-bottom: 100px;
    background-image: url(../img/bg-line.png);
    background-position: top center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.ab-two-box-icon{
    display: block;
    width: 65px;
    height: 59px;
    background-position: -6px -325px;
    margin: auto;
}
.ab-two-box-icon-wrapper{
    width: 120px;
    height: 120px;
    margin: auto;
    background-color: #132332;
    display: flex;
    align-items: center;
    border-radius: 100px;
}
.ab-highlight-list li{
    display: inline-block;
    margin-right: 30px;
}
.ab-start-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-position: 0px -393px;
    vertical-align: middle;
}
.ab-highlight-list .ab-content{
    vertical-align: middle;
    color: #99cddf;
}
.ab-two-box-title{
    font-size: 50px;
}
.ab-color-dark{
    color: #99cddf;
}
/**************************************
Testimonials
 ************************************/
 .ab-testimonials{
    margin: 160px 0;
 }
 .ab-testimonials-sub{
    text-transform: uppercase;
    color: #fff;
 }
 .ab-testimonials-two-tab-list li{
    display: inline-block;
    margin-right: 20px;
 }
 .ab-testimonials-count, .ab-testimonials-count-content{
    display: block;
 }
 .ab-testimonials-count{
    font-size: 30px;
    color: #fff;
 }
 .ab-testimonials-count-content{
    color: #99cddf ;
    opacity: 0.2;
 }
 .ab-testimonials-user{
    display: flex;
    align-items: center;
    gap: 15px;
 }
 .ab-testimonials-user-name{
    display: block;
    color: #99cddf ;
 }
 .ab-testimonials-user-ocu{
    opacity: 0.3;
 }
 .ab-coma-icon{
    display: block;
    width: 48px;
    background-position: -7px -587px;
    height: 33px;
 }
 .ab-testimonials-title{
    width: 95%;
 }

/*************************************
Let us help! 
***********************************/
 .ab-Unable{
    margin: 60px 0;
    border-top: 1px  solid #1e2c35;
    border-bottom: 2px  solid #1e2c35;
    padding: 60px 0;
 }
 .ab-let-help h2{
    color: #99cddf;
 }
/*************************************
In The News
***********************************/
.ab-in-the-news{
    margin: 60px 0;
}

.ab-news-logo-img{
    display: inline-block;
}
.ab-news-logo a{
 display: inline-block;
 margin-right: 20px;
}
.ab-articales-icon{
    display: inline-block;
    background-position: -10px -1002px;
    width: 14px;
    height: 23px;
    vertical-align: middle;
    margin-right: 10px;
}
.ab-articales{
    display: block;
}
.ab-articales-box{
    width: 85%;
}
/*************************************
Our Insta Feed
***********************************/
.ab-Our-Insta-Feed{
    margin: 160px 0;
}
.ab-Insta-icon{
    display: inline-block;
    width: 33px;
    height: 32px;
    background-position: 0 -1032px;
    margin-right: 10px;
    vertical-align: middle;
}
.ab-min-height-1{
    min-height: 400px;
}
.ab-min-height-2{
    min-height: 300px;
}
.ab-min-height-3{
    min-height: 580px;
}
.ab-Insta-Feed-border{
    border: 12px solid #1e2931;
}

/*************************************
Countact Us
***********************************/
.ab-countact-us{
    padding: 200px 10px;
    background-image: url(../img/glob-map.png);
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
    margin-bottom: 100px;
}
.ab-title-content{
    text-align: center;
}
.ab-contact-content{
    width: 60%;
    margin: auto;
    opacity: 0.2;
}
.ab-form-control{
    border-radius: 30px;
    background-color: #99cddf;
    color: #04141e;
    padding: 10px 30px;
    border: 1px solid #04141e;
}
.ab-contact-btn{
    background-color: #314c58;
    color: #fff;
}
.ab-fileds-mandatory{
    opacity: 0.3;
}

/*************************************
footer
***********************************/
.ab-footer-about-content{
    width: 70%;
}
.ab-line-link {
    color: #99cddf;
    display: block;
}
.ab-arrow-icon{
    display: inline-block;
    background-position: -8px -672px;
    width: 10px;
    height: 23px;
    vertical-align: middle;
    margin-left: 5px;
}
.ab-footer-add{
    opacity: 0.4;
}
.ab-footer-mail{
    color: #99cddf;
    opacity: 0.2;
}
.ab-footer-title{
    color: #99cddf;
    text-transform: capitalize;
    margin-top: 50px;
    margin-bottom: 15px;
}
.ab-footer-link-ul a{
    opacity: 0.5;
    color: #fff;
    padding: 5px 0;
    display: inline-block;
}
.ab-footer-social-media-icon{
    text-align: center;
}
.ab-footer-social-media-icon .ab-sns{
    width: 290px;
    margin: auto;
    background-color: #04141e;
}
.ab-footer-social-media-icon{
    position: relative;
}
.ab-footer-social-media-icon::before{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    background-color: #fff;
    opacity: 0.2;
    top: 15px;
    z-index: -1;
}
.ab-copyright{
    display: block;
    text-align: center;
    opacity: 0.2;
}
.ab-copyright-link{
    color:#99cddf;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    margin-left: 20px;
}
/********************************
login
********************************/
.ab-login-page{
    width: 45%;
    min-height: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 99;
    border-radius: 10px;
    background-color: #99cddf;
    display: none;
}
.ab-bg-black{
    z-index: 9;
    background-color: #000;
    opacity: 0.5;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}
.ab-close{
    position: absolute;
    width: 20px;
    height: 20px;
    right: -20px;
    top: -20px;
    cursor: pointer;
}
.ab-close svg{
    fill: #fff;
}
.ab-free-content{
    color: #04141e;
    width: 510px;
    margin: auto;
}
.ab-singup-list li{
    display: inline-block;
    text-transform: uppercase;

}
.ab-singup-list li a{
    color: rgba(4,20,30, 0.4);
    font-weight: 600;
    display: inline-block;
    margin-right: 24px;
    margin-left: 24px;
}
.ab-singup-list li a.ab-active{
    color: #04141e;
    display: block;
    position: relative;
}
.ab-singup-list li a.ab-active::after{
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #000;
}
.ab-social-net-icon{
    text-align: center;

}
.ab-soc-net{
    background-image: url(../img/socialNetworks.png);
    background-repeat: no-repeat;
    background-position: -5px -4px;
    width: 52px;
    height: 53px;
    display: block;
}
.ab-social-net-icon-list li{
    display: inline-block;
}
.ab-Social-Networks-login{
    color: #04141e;
}
.ab-google-icon{
    background-position: -77px -4px;
}
.ab-twitter-icon{
    background-position: -149px -4px;
}
.ab-signup-form{
    text-align: left;
}
.ab-checkbox{
    display: flex;
    gap: 15px;
    color: #04141e;
}
.ab-checkbox .ab-lable{
    font-weight: 600;
}
.ab-controle-form .form-control{
    border: 1px solid #04141e;
    color: #04141e;
    background-color: transparent;
}
.ab-Sign-Up-btn{
    background-color: #04141e !important;
    color: #fff !important;
    border-radius: 4px;
    font-weight: normal;
    outline: none !important;;
}
.ab-Sign-Up-btn:hover,.ab-Sign-Up-btn:focus {
    border-radius: 4px; 
}

.ab-form-check .form-check-input{
    border: 2px solid #000;
    background-color: transparent;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-top: 0;
}
.ab-form-check .form-check-label{
    vertical-align: middle;
}
.ab-Forgot-Password{
    color: #04141e;
    display: inline-block;
    padding: 15px;
}
.ab-line-right{
    position: relative;
}
.ab-line-right::after{
    height: 100%;
    position: absolute;
    width: 1px;
    content:"";
    left: 0;
    right: 0;
    margin: auto;
    background-color: #04141e;
}
.ab-courseListing-banner{
    height: 60px;
}
#_bannerwithinner{
    background-position: bottom;
}
#_bannerwithinner .ab-sub-title
{    
    opacity: 0.4;
}
.ab-check-twoline{
    display: flex;
    gap: 60px;
}
.ab-select-drow{
    background-color: transparent;
    color: #99cddf;
    border: 1px solid #99cddf;
    border-radius: 30px;
}
.ab-line-title{
    position: relative;
    justify-content: space-between;
}
.ab-line-title::before{
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    left: 0;
    top: 20px;
    background-color: #99cddf;
    opacity: 0.1;
    border: 1px solid #99cddf;
    z-index: 1;
}
.ab-Courses-title{
    z-index: 2;
}
.ab-Courses-title-content{
    background-color: #04141e;
    display: inline-block;
    padding: 0px 15px;
    margin-left: -15px;
}
.ab-Courses-title-select{
    background-color: #04141e;
    z-index: 2;
}
.ab-exp-box-re{
    background-color: #030e15;
    box-shadow: none;
}
.ab-filter{
    display: block;
}
.ab-filter .ab-dropdown{
    color: #99cddf;
    padding-left: 0;
    outline: none;
    box-shadow: none;
}
.ab-filter .ab-dropdown:hover{
    background-color: transparent;
    border: none;
}
.ab-check-twoline{
    border-top: 1px solid #1e2c35;
    border-bottom: 1px solid #1e2c35;
}
.ab-check-bottomline{
    border-bottom: 1px solid #1e2c35;
}
.form-check-input{
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 2px;
    opacity: 0.2;
}
.form-check-input:checked{
    background-color: transparent;
    border: 1px solid #fff;
    opacity: 1;
}
.form-check-label{
    opacity: 0.2;
}
.form-check-input:checked~.form-check-label{
    opacity: 1;
}
.ab-justify-content-top{
    align-items: top;
    justify-content: space-between;
}
.form-check{
    padding-top: 2px;
    padding-bottom: 2px
}
.abfilterfixedCount{
    position: fixed;
    top: 90px;
}.MuiBox-root{
    display: none;
}
.ab-mobile-bg{
    display: none;
}
@media (max-width: 576px) { 
    .m-hd{
        display: none;
    }
    .ab-nav{
        left: 0;
        position: fixed;
        top: 0;
        width: 80%;
        padding-top: 60px;
        z-index: 9;
        background-color: #04141e;
        height: 100%;
        box-shadow: 1px 1px 161px #000;
    }
    .ab-balck-bg-mainmenu{
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        padding-top: 60px;
        z-index: 8;
        background-color: #000;
        opacity: 0.8;
        height: 100%;
    }
    .ab-nav[style*="display: none;"]~.ab-balck-bg-mainmenu{
        display: none !important;
    }

    .ab-nav li a{
        padding: 15px 34px;
    }
    .ab-nav li {
        display: block;
        text-align: left;
    }
    .ab-banner-wrapper {
        width: 100%;
    }
    .ab-account-menu-mobile{
        display: block;
    }
    .ab-exp-title {
        width: 100%;
    }
    .ab-footer-about-content {
        width: 100%;
    }

    .ab-in-the-news a{
        display: inline-block;
        padding: 20px;
    }
    .ab-in-the-news a img{
        width: 100%;
    }
    /* .ab-exp-90{
        margin-left: 0;
        margin-right: 0;
    } */
    .ab-logo-wrapper {
        gap: 10px;
    }
    .ab-header{
        padding: 20px 10px !important;
    }
    .ab-login-st{
        white-space: nowrap;
    }
    .ab-lg{
        display: none;
    }
    .ab-banner-wrapper {
        height: auto;
        padding: 30px;
    }
    .ab-m-width{
        width: 44%;
    }
    .ab-sns{
        white-space: nowrap;
    }
    .ab-sns li {
        margin-right: 0px;
    }
    .ab-banner-footer {
        bottom: 20px;
        padding: 0 30px;
    }
    .slide {
        padding-left: 0;
        padding-right: 0;
    }
    .ab-two-box {
        margin-top: 50px;
        margin-bottom: 0;
        padding: 20px;
        padding-bottom: 0;
    }
    .order-ab-last{
        order: 6!important;
    }
    .order-ab-first{
        order: -1!important;
    }
    .ab-two-box .slider{
        height: 53.625rem;
        padding: 0;
    }
    .slide-arrow-prev.prev {
        left: 64px;
        top: 608px;
    }
    .slide-arrow-next.next {
        top: 600px;
    }
    .ab-two-box  .slideFull{
        height: 46.625rem;
    }
    .ab-testimonials {
        margin: 20px 0;
        padding: 20px;
    }
    .ab-Unable {
        margin: 0;
        padding: 30px 20px;
    }
    .slides-container{
        padding: 0 !important;
    }
    .ab-in-the-news {
        margin: 0;
        padding: 20px;
    }
    .ab-news-logo{
        padding: 20px !important;
        margin: 0 !important;
    }
    .ab-articales-box {
        width: 100%;
        padding: 40px 0px;
    }
    .ab-Our-Insta-Feed {
        margin: 0;
        padding: 20px;
    }
    .ab-Insta-Feed{
        margin:  20px 0;
    }
    .ab-countact-us {
        padding: 60px 20px;
        background-size: 100%;
        background-repeat: no-repeat;
        margin-bottom: 0;
        text-align: center;
    }
    .ab-form-control {
        margin-bottom: 30px;
    }
    .ab-contact-content {
        width: 100%;
    }
    .ab-letusHelp{
        width: 50%;
        margin: auto;
        display: block;
        margin-bottom: 20px;
    }
    .ab-footer{
        padding: 30px;
    }
    .slider-wrapper{
        margin: 0;
    }
    .ab-login-page {
        width: 90%;
    }
    .ab-free-content {
        width: 100%;
    }
    .ab-line-right::after{
        display: none;
    }
    .b-loginwrapper{
        margin: 30px 0px !important;
    }
    .ab-social-net-icon {
        margin-bottom: 20px;
        border-bottom: 1px solid #000;
        padding-bottom: 20px;
    }
    .ab-courses-list{
        white-space: nowrap;
        width: 90%;
        overflow: hidden;
        margin: auto;
    }
    .ab-courses{
        position: relative;
    }
    .slide-arrow-prev-mon
    {
        top: 1px;
        bottom: 0px;
        height: 24px;
        width: 24px;
        background-position: -12px -134px;
        left: -7px;
        display: block;
    }
    .slide-arrow-next-mon{
        top: 0;
        bottom: 0;
        height: 21px;
        width: 16px;
        background-position: -67px -137px;
        right: -5px;
        display: block;
    }
    .slide-arrow-next{
        bottom: -160px;
        left: 40px;
        right: 0;
        top: unset;
    }
    .slide-arrow-prev{
        bottom: -160px;
        left: 0;
        right: 90px;
        top: unset;
    }
    .ab-testimonials .slide-arrow-next{
        bottom: 3px;
        left: -90px;
    }
    .ab-testimonials .slide-arrow-prev{
        bottom: 6px;
        left: unset;
        right: 110px;
        top: unset;
    }
    .ab-scroll-icon{
        display: none;
    }
    .ab-exp-off {
        margin-top: 100px;
    }
    .ab-exp-off span.ab-content{
        width: 60%;
    display: block;
    margin: auto;
    }
    .ab-exp-title{
        font-size: 48px;
    }
    .mobileControle #_abfilterfixed{
        position: fixed;
        top: 0;
        left: 0;
        width: 80%;
        height: 100%;
        background-color: #04141e;
        z-index: 99;
        box-shadow: 1px 1px 131px #000;
        padding: 20px;
        z-index: 999;
    }
    .ab-Courses-section{
        padding: 20px;
    }
    .ab-Courses-title{
        margin-bottom: 20px;
    }
    .ab-filter{
        display: none;
    }
    .ab-filter-mobilemenu, .ab-filter-mobilemenu svg {
        height: 28px;
        width: 28px;
    }
    .ab-filter-mobilemenu{
        margin-right:20px ;
    }
    #_bannerwithinner {
        overflow: hidden;
    }
    #_bannerwithinner .slider{
        padding-bottom: 0;
        padding-left: 0;
    }
    .ab-mobile-bg{
        position: fixed;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0.8;
        z-index: 99;
        display: none;
    }
    .ab-filter[style*="display: none;"]~.ab-mobile-bg{
        display: none !important;
    }
    .ab-filter[style*="display: block;"]~.ab-mobile-bg{
        display: block !important;
    }
    .MuiBox-root {
        display: block;
        padding-left: 15px;
    }
    #_bannerwithinner .slide-arrow-next.next {
        top: 140px;
    }
    #_bannerwithinner .slide-arrow-prev.prev {
        left: 64px;
        top: 145px;
    }
 }

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) { 
   
 }

/* // Large devices (desktops, 992px and up) */
@media (max-width: 992px) { 
    
 }

/* // X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {  

}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (max-width: 1400px) { 

 }